.DS_Store
**/.config
**/.cache
**/.cursor-server
**/*.cache
**/.git
**/.venv
**/node_modules/
**/build/
**/.npm
**/.bash_history
**/.env
**/tsconfig.tsbuildinfo
**/vite.config.ts.timestamp-*.mjs
**/out/
**/playwright-report/
**/test-results/

.local
.pnpm-store
.docker
build-metadata.json
deps

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/


# --- Extra not gitignored entries below ---

.changeset
.devcontainer
.dockerignore
.gitignore
.github/*
docker-compose*.yml
**/*Dockerfile
