.DS_Store
**/.config
**/.cache
**/node_modules/
**/build/
**/.npm
**/.bash_history
**/.env
**/tsconfig.tsbuildinfo

.cache
.changeset
.devcontainer
.dockerignore
.git
.gitignore
.github
.local
docker-*
Dockerfile
