include:
  - ./apps/backend/docker-compose.yml
  - ./apps/web/docker-compose.yml
  - ./apps/db/docker-compose.yml
  - ./apps/nginx/docker-compose.yml

services:
  base:
    extends:
      file: nopo/docker/docker-compose.base.yml
      service: base
    command: ["sleep", "infinity"]

networks:
  default:
    driver: bridge
    enable_ipv6: false

volumes:
  data_postgres:
  nopo_uv_cache:
  nopo_pnpm_store:
  nopo_venv:
