include:
  - ./apps/backend/docker-compose.yml
  - ./apps/web/docker-compose.yml

services:
  base:
    extends:
      file: nopo/docker/docker-compose.base.yml
      service: base
    command: ["sleep", "infinity"]

  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: database
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - data_postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", 'pg_isready -U user -d database']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  shaddow:
    build:
      context: ./nopo/shaddow
      dockerfile: Dockerfile
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/healthz"]
      interval: 20s
      timeout: 5s
      retries: 3
      start_period: 5s

  nginx:
    image: nginx:latest
    volumes:
      - ./nopo/nginx:/etc/nginx/templates
      - .:/app
    ports:
      - "${DOCKER_PORT:?}:80"
    networks:
      default:
    depends_on:
      web:
        condition: service_started
      backend:
        condition: service_started
      shaddow:
        condition: service_started
    environment:
      WEB_PUBLIC_URL: ${WEB_PUBLIC_URL:-http://web:80}
      BACKEND_PUBLIC_URL: ${BACKEND_PUBLIC_URL:-http://backend:80}
      BACKEND_VITE_PUBLIC_URL: ${BACKEND_VITE_PUBLIC_URL:-http://backend:5173}
      SHADDOW_PUBLIC_URL: ${SHADDOW_PUBLIC_URL:-http://shaddow:8080}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 20s
      timeout: 10s
      retries: 3
      start_period: 20s

networks:
  default:
    driver: bridge
    enable_ipv6: false

volumes:
  data_postgres:
  nopo_uv_cache:
  nopo_pnpm_store:
  nopo_venv:
