services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: database
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - data_postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", 'pg_isready -U user -d database']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

