services:
  nginx:
    image: nginx:latest
    volumes:
      - ./templates:/etc/nginx/templates
      - ../../:/app
    ports:
      - "${DOCKER_PORT:?}:80"
    networks:
      default:
    depends_on:
      web:
        condition: service_started
      backend:
        condition: service_started
    environment:
      WEB_PUBLIC_URL: ${WEB_PUBLIC_URL:-http://web:80}
      BACKEND_PUBLIC_URL: ${BACKEND_PUBLIC_URL:-http://backend:80}
      BACKEND_VITE_PUBLIC_URL: ${BACKEND_VITE_PUBLIC_URL:-http://backend:5173}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 20s
      timeout: 10s
      retries: 3
      start_period: 20s
