name: Test

on:
  workflow_call:
    inputs:
      tag:
        description: 'The full docker tag to test'
        required: true
        type: string

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  discover:
    runs-on: ubuntu-latest
    outputs:
      services: ${{ steps.services.outputs.services }}
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-node

      - name: Discover services
        id: services
        uses: ./.github/actions/service-names

  test_nopo:
    runs-on: ubuntu-latest
    name: "[nopo] test"
    strategy:
      matrix:
        expected: ["success", "failure"]
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-node

      - uses: ./.github/actions/setup-uv

      - name: Monkeywrench nopo
        if: ${{ matrix.expected == 'failure' }}
        run: |
          rm -f ./nopo/scripts/src/index.ts

      - name: Make nopo
        id: nopo
        continue-on-error: true
        run: make -C ./nopo/scripts init

      - name: Verify result
        env:
          expected: ${{ matrix.expected }}
          actual: ${{ steps.nopo.outcome }}
        run: |
          if [[ "$expected" != "$actual" ]]; then
            echo "Expected build to result in $expected, but got $actual"
            exit 1
          fi

      - name: Test nopo
        if: ${{ matrix.expected == 'success' }}
        run: pnpm run --dir ./nopo/scripts test

  test:
    needs: [discover]
    runs-on: ubuntu-latest
    name: "[${{ matrix.service || 'host' }}] ${{ matrix.command }} (${{ matrix.target }})"
    strategy:
      matrix:
        service: ${{ fromJson(needs.discover.outputs.services) }}
        command: [test]
        target: [development, production]
        include:
          -
            command: "check:"
            target: production
      fail-fast: false
    permissions:
      packages: read
      contents: read
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-node

      - uses: ./.github/actions/setup-uv

      - name: Set up Docker
        uses: ./.github/actions/setup-docker
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Tag
        id: docker_tag
        uses: ./.github/actions/docker-tag
        with:
          tag: ${{ inputs.tag }}

      - name: Run '${{ matrix.command }}'
        uses: ./.github/actions/run-docker
        with:
          tag: ${{ steps.docker_tag.outputs.tag }}
          service: ${{ matrix.service }}
          run: ${{ matrix.command }}
          target: ${{ matrix.target }}

  extendable:
    runs-on: ubuntu-latest
    permissions:
      packages: read
      contents: read
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-node

      - uses: ./.github/actions/setup-uv

      - uses: ./.github/actions/setup-docker

      - name: Build base image
        run: |
          make build \
            DOCKER_TAG="${{ steps.docker_tag.outputs.tag }}" \
            DOCKER_TARGET="development" \
            -- --base-only

      - name: Verify extendable base image
        env:
          DOCKER_TAG: ${{ steps.docker_tag.outputs.tag }}
        run: ./nopo/docker/tests/extendable.sh "${{ steps.docker_tag.outputs.tag }}"
