name: Discussion Event Dispatcher
'on':
  discussion:
    types:
      - created
      - edited
  discussion_comment:
    types:
      - created
permissions:
  contents: write
  discussions: write
defaults:
  run:
    shell: bash
jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        uses: actions/checkout@v4
      - id: dispatch
        name: Dispatch to handler
        uses: ./.github/actions-ts/discussion-dispatch
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
