name: Release
'on':
  push:
    branches:
      - main
  merge_group: {}
concurrency:
  group: ${{ github.workflow }}-${{ (github.event_name == 'merge_group' || github.event_name == 'push' && github.event.sender.login != 'github-merge-queue[bot]') && 'push' || 'pr' }}
  cancel-in-progress: true
permissions: {}
defaults:
  run:
    shell: bash
env:
  CI: 'true'
jobs:
  context:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      push: ${{ steps.push_deploy.outputs.push }}
      deploy: ${{ steps.push_deploy.outputs.deploy }}
    steps:
      - id: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - id: setup_node
        uses: ./.github/actions/setup-node
      - id: context
        name: Context
        uses: ./.github/actions/context
      - id: push_deploy
        name: Push / Deploy
        env:
          event_name: ${{ github.event_name }}
          actor: ${{ github.event.sender.login }}
          merge_actor: github-merge-queue[bot]
        run: |-
          push=false
          deploy=false

          # Push images on merge queue. This only runs on the target repo
          # so no need to check if it is a fork.
          if [[ "$event_name" == "merge_group" ]]; then
            push=true
            deploy=true
          # Push images on push events that were not sent by the merge queue bot
          # as merge queue commits are deployed before the PR is merged.
          elif [[ "$event_name" == "push" && "$actor" != "$merge_actor" ]]; then
            push=true
            deploy=true
          fi

          echo "event_name=$event_name"
          echo "push=$push" >> $GITHUB_OUTPUT
          echo "deploy=$deploy" >> $GITHUB_OUTPUT
          cat "$GITHUB_OUTPUT"
  discover_buildable:
    permissions:
      contents: read
    uses: ./.github/workflows/_services.yml
    with:
      filter: buildable
      ref: ${{ github.sha }}
  version:
    if: ${{ github.event_name == 'push' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: read
      pull-requests: write
    steps:
      - id: checkout
        uses: actions/checkout@v4
      - id: setup_node
        uses: ./.github/actions/setup-node
      - id: setup_nopo
        uses: ./.github/actions/setup-nopo
      - id: build
        name: Build packages
        run: nopo compile packages root
      - id: publish_versions
        name: Create and publish versions
        uses: changesets/action@v1
        with:
          commit: 'chore: update versions'
          title: 'chore: update versions'
          publish: pnpm publish:workspace
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    needs:
      - context
  build:
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    uses: ./.github/workflows/_build.yml
    secrets: inherit
    with:
      push: ${{ needs.context.outputs.push == 'true' }}
      services: ${{ needs.discover_buildable.outputs.services }}
      # Multi-platform for production deployments
      platforms: linux/amd64,linux/arm64
      driver: docker-container
    needs:
      - context
      - discover_buildable
  test:
    permissions:
      contents: read
      packages: read
    uses: ./.github/workflows/_test.yml
    secrets: inherit
    with:
      tag: ${{ needs.build.outputs.tag }}
      services: ${{ needs.discover_buildable.outputs.services_json }}
    needs:
      - build
      - context
      - discover_buildable
  deploy_stage:
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    uses: ./.github/workflows/_deploy_gcp.yml
    secrets: inherit
    with:
      environment: stage
      version: ${{ needs.build.outputs.version }}
      digest: ${{ needs.build.outputs.digest }}
      services: ${{ needs.discover_buildable.outputs.services_json }}
    needs:
      - context
      - build
      - test
      - discover_buildable
  deploy_prod:
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    uses: ./.github/workflows/_deploy_gcp.yml
    secrets: inherit
    with:
      environment: prod
      version: ${{ needs.build.outputs.version }}
      digest: ${{ needs.build.outputs.digest }}
      services: ${{ needs.discover_buildable.outputs.services_json }}
    needs:
      - context
      - build
      - deploy_stage
      - test
      - discover_buildable
  checks:
    if: always()
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        uses: actions/checkout@v4
      - id: check
        name: Check
        uses: ./.github/actions/check
        with:
          json: ${{ toJson(needs) }}
    needs:
      - build
      - test
      - deploy_stage
      - deploy_prod
